<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CKM Calc</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">

</head>

<body>
  <div id="app">
    <h2 class="text-center">{{message}}</h2>

    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <div class="text-center h3">Summe: {{summeCom}}€</div>
        </div>
        <div class="col-md-3 col-xs-3">
          <div class="text-right" v-if="summe <= 10">auf 10€:</div>
          <div class="text-right" v-if="summe <= 20">auf 20€:</div>
          <div class="text-right" v-if="summe <= 30">auf 30€:</div>
          <div class="text-right" v-if="summe > 10 && summe <= 40">auf 40€:</div>
          <div class="text-right" v-if="summe > 20 && summe <= 50">auf 50€:</div>
          <div class="text-right" v-if="summe > 30 && summe <= 60">auf 60€:</div>
          <div class="text-right" v-if="summe > 40 && summe <= 100">auf 100€:</div>
        </div>
        <div class="col-md-3 col-xs-3">
          <div class="text-left" v-if="summe <= 10">{{auf10}}€</div>
          <div class="text-left" v-if="summe <= 20">{{auf20}}€</div>
          <div class="text-left" v-if="summe <= 30">{{auf30}}€</div>
          <div class="text-left" v-if="summe > 10 && summe <= 40">{{auf40}}€</div>
          <div class="text-left" v-if="summe > 20 && summe <= 50">{{auf50}}€</div>
          <div class="text-left" v-if="summe > 30 && summe <= 60">{{auf60}}€</div>
          <div class="text-left" v-if="summe > 40 && summe <= 100">{{auf100}}€</div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <button type=button class="btn btn-primary btn-lg btn-block" @click="addKaffee">Kaffee/Schoki</button>
        </div>
        <div class="col-md-3 col-xs-3">
          <button type=button class="btn btn-lg btn-block">{{countKaffee}}</button>
        </div>
        <div class="col-md-3 col-xs-3">
          <button type=button class="btn btn-warning btn-lg btn-block" @click="removeKaffee">-4,00</button>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <button type=button class="btn btn-primary btn-lg btn-block" @click="addLumumba">Lumumba</button>
        </div>
        <div class="col-md-3 col-xs-3">
          <button type=button class="btn btn-lg btn-block">{{countLumumba}}</button>
        </div>
        <div class="col-md-3 col-xs-3">
          <button type=button class="btn btn-warning btn-lg btn-block" @click="removeLumumba">-6,00</button>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <button type=button class="btn btn-primary btn-lg btn-block" @click="addApfel">heißer Apfel
          </button>
        </div>
        <div class="col-md-3 col-xs-3">
          <button type=button class="btn btn-lg btn-block">{{countApfel}}</button>
        </div>
        <div class="col-md-3 col-xs-3">
          <button type=button class="btn btn-warning btn-lg btn-block" @click="removeApfel">-5,00</button>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <button type=button class="btn btn-primary btn-lg btn-block" @click="addApfelPunsch">Apfelpunsch</button>
        </div>
        <div class="col-md-3 col-xs-3">
          <button type=button class="btn btn-lg btn-block">{{countApfelPunsch}}</button>
        </div>
        <div class="col-md-3 col-xs-3">
          <button type=button class="btn btn-warning btn-lg btn-block" @click="removeApfelPunsch">-6,50</button>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <button type=button class="btn btn-primary btn-lg btn-block" @click="addGluehGin">Glüh Gin</button>
        </div>
        <div class="col-md-3 col-xs-3">
          <button type=button class="btn btn-lg btn-block">{{countGluehGin}}</button>
        </div>
        <div class="col-md-3 col-xs-3">
          <button type=button class="btn btn-warning btn-lg btn-block" @click="removeGluehGin">-6,50</button>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <button type=button class="btn btn-primary btn-lg btn-block" @click="addSchnaps">Schnaps</button>
        </div>
        <div class="col-md-3 col-xs-3">
          <button type=button class="btn btn-lg btn-block">{{countSchnaps}}</button>
        </div>
        <div class="col-md-3 col-xs-3">
          <button type=button class="btn btn-warning btn-lg btn-block" @click="removeSchnaps">-4,00</button>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <button type=button class="btn btn-primary btn-lg btn-block" @click="addSchnapsNuss">Nuss Schnaps</button>
        </div>
        <div class="col-md-3 col-xs-3">
          <button type=button class="btn btn-lg btn-block">{{countSchnapsNuss}}</button>
        </div>
        <div class="col-md-3 col-xs-3">
          <button type=button class="btn btn-warning btn-lg btn-block" @click="removeSchnapsNuss">-5,00</button>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <button type=button class="btn btn-primary btn-lg btn-block" @click="addPfand">+ Pfand</button>
        </div>
        <div class="col-md-3 col-xs-3">
          <button type=button class="btn btn-lg btn-block">{{countPfand}} - {{countPfandMinus}}</button>
        </div>
        <div class="col-md-3 col-xs-3">
          <button type=button class="btn btn-warning btn-lg btn-block" @click="removePfand">-2,00</button>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <button type=button class="btn btn-danger btn-lg btn-block" @click="clear">Clear</button>
        </div>
</body>

<script src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>

<script>
  var app = new Vue({
    el: '#app',
    data: {
      message: 'CKM 23 Cocktail Rechner',
      summe: 0,
      kaffee: 2.0,
      lumumba: 4.0,
      apfel: 3.0,
      apfelpunsch: 4.5,
      gluehgin: 4.5,
      schnaps: 2,
      schnapsnuss: 3,
      pfand: 2,
      countApfel: 0,
      countKaffee: 0,
      countLumumba: 0,
      countApfelPunsch: 0,
      countPfand: 0,
      countPfandMinus: 0,
      countSchnaps: 0,
      countGluehGin: 0,
      countSchnapsNuss: 0
    },
    computed: {
      auf10: function () {
        return (10 - this.summe).toFixed(2)
      },
      auf20: function () {
        return (20 - this.summe).toFixed(2)
      },
      auf30: function () {
        return (30 - this.summe).toFixed(2)
      },
      auf40: function () {
        return (40 - this.summe).toFixed(2)
      },
      auf50: function () {
        return (50 - this.summe).toFixed(2)
      },
      auf60: function () {
        return (60 - this.summe).toFixed(2)
      },
      auf100: function () {
        return (100 - this.summe).toFixed(2)
      },
      summeCom: function () {
        return this.summe.toFixed(2)
      }
    },
    methods: {
      addApfel: function () {
        this.countApfel += 1
        this.countPfand += 1
        this.summe += this.pfand
        return this.summe += this.apfel
      },
      removeApfel: function () {
        this.countApfel -= 1
        this.countPfand -= 1
        this.summe -= this.pfand
        return this.summe -= this.apfel
      },
      addKaffee: function () {
        this.countKaffee += 1
        this.countPfand += 1
        this.summe += this.pfand
        return this.summe += this.kaffee
      },
      removeKaffee: function () {
        this.countKaffee -= 1
        this.countPfand -= 1
        this.summe -= this.pfand
        return this.summe -= this.kaffee
      },
      addLumumba: function () {
        this.countLumumba += 1
        this.countPfand += 1
        this.summe += this.pfand
        return this.summe += this.lumumba
      },
      removeLumumba: function () {
        this.countLumumba -= 1
        this.countPfand -= 1
        this.summe -= this.pfand
        return this.summe -= this.lumumba
      },
      addApfelPunsch: function () {
        this.countApfelPunsch += 1
        this.countPfand += 1
        this.summe += this.pfand
        return this.summe += this.apfelpunsch
      },
      removeApfelPunsch: function () {
        this.countApfelPunsch -= 1
        this.countPfand -= 1
        this.summe -= this.pfand
        return this.summe -= this.apfelpunsch
      },
      addGluehGin: function () {
        this.countGluehGin += 1
        this.countPfand += 1
        this.summe += this.pfand
        return this.summe += this.gluehgin
      },
      removeGluehGin: function () {
        this.countGluehGin -= 1
        this.countPfand -= 1
        this.summe -= this.pfand
        return this.summe -= this.gluehgin
      },
      addSchnaps: function () {
        this.countSchnaps += 1
        this.countPfand += 1
        this.summe += this.pfand
        return this.summe += this.schnaps
      },
      removeSchnaps: function () {
        this.countSchnaps -= 1
        this.countPfand -= 1
        this.summe -= this.pfand
        return this.summe -= this.schnaps
      },
      addSchnapsNuss: function () {
        this.countSchnapsNuss += 1
        this.countPfand += 1
        this.summe += this.pfand
        return this.summe += this.schnapsnuss
      },
      removeSchnapsNuss: function () {
        this.countSchnapsNuss -= 1
        this.countPfand -= 1
        this.summe -= this.pfand
        return this.summe -= this.schnapsnuss
      },
      addPfand: function () {
        this.countPfand += 1
        return this.summe += this.pfand
      },
      removePfand: function () {
        this.countPfandMinus += 1
        return this.summe -= this.pfand
      },
      clear: function () {
        this.countKaffee = 0
        this.countApfel = 0
        this.countLumumba = 0
        this.countApfelPunsch = 0
        this.countSchnaps = 0
        this.countSchnapsNuss = 0
        this.countPfand = 0
        this.countPfandMinus = 0
        this.countGluehGin = 0
        return this.summe = 0
      }
    }
  })
</script>

</html>